server:
  port: 9003

spring:
  application:
    name: zuul-server
  session:
    store-type: redis

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:9000/eureka/

zuul:
  routes:
    feign-server:
      path: /feign-server/**
      serviceId: feign-server
  sensitive-headers:

